* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* HEADER SECTION */

header {
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.title-navbar-index {
    flex-grow: 1;
    text-align: center;

}

.title-navbar-index h1 {
    font-size: 36px;
    color: #000;
    margin: 0;
}

#toggle-button {
    width: 24px;
    height: 24px;
}

/* BODY SECTION*/

body {
    background-color: #EBBB40;
}

.form-php-index {
    text-align: center;
    margin: 5%;
    color: white;
    font-size: 25px;
}

.inline-input-button {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 13px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    text-align: center;
}

.get-php-button {
    padding: 9px 24px;
    background-color: #137513;
    border: 1px solid #137513;
    border-radius: 4px;
    cursor: pointer;
    margin: 1%;
}

button:hover.get-php-button {
    background-color: #1d9c1d;
}

#magnifier-button {
    height: 20px;
    width: 20px;
}

.section-article-index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-index {
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 1%;
    margin: 2%;
    margin-bottom: 1%;
    background-color: white;
}

.title-article-index {
    margin-top: 2.5%;
    text-align: center;
}

.body-article-index {
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .title-navbar-index {
        font-size: 24px;
    }

    .form-php-index {
        margin: 15% auto;
    }

    input {
        width: 60%;
        margin: 1%;
    }

    .get-php-button {
        margin: 1%;
    }

    label {
        font-size: 22px;
    }

    .section-article-index {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .article-index {
        width: fit-content;
        width: -moz-fit-content;
    }

    .footer-index {
        display: flex;
        flex-direction: column;
        fill-rule: evenodd;
    }
}

.contact-form-index {
    display: flex;
    flex-direction: column;
    /* padding: 5%; */
    margin: 10%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    min-height: 100px;

}

.footer-content-index {
    text-align: center;
}

/*/////////////////////////PHP///////////////////////*/

.section-php {
    padding: 5%;
}

.title-section-php {
    color: black;
}

.ul-php {
    list-style-type: none;
}

.article-php {
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 1%;
    margin: 2%;
    margin-bottom: 1%;
    background-color: white;
}

.places-php {
    position: relative;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 150px;
    background-color: whitesmoke;
    box-shadow: -20px -10px 20px 0px rgba(0, 0, 0, 0.5);
}
/* Estilos de elementos de lista (li) */
li {
    position: relative;
    left: 5%;
    top: 20%;
}

/* Estilos para elementos con la clase "locales" */
.locales {
    position: relative;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 150px;
    background-color: whitesmoke;
    box-shadow: -20px -10px 20px 0px rgba(0, 0, 0, 0.5);
}

/* Estilos para el mapa centrado (centered-map) */
.centered-map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

/* Estilos para el elemento con ID "mapa" */
#mapa {
    text-align: center;
    border-radius: 10px;
}

/* Estilos para enlaces no visitados (a:link) */
a:link {
    color: black;
}

/* Estilos para enlaces visitados (a:visited) */
a:visited {
    color: black;
}

/* Estilos para el elemento con ID "direccion" */
#direccion {
    position: absolute;
    right: 10%;
}